[submodule "thirdparty/esp-idf"]
	path = thirdparty/esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = v3.3.2

[submodule "thirdparty/Unity"]
	path = thirdparty/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git

[submodule "thirdparty/cppcheck"]
	path = thirdparty/cppcheck
	url = https://github.com/danmar/cppcheck.git
	branch = master
